<html>
    <head>
        <title></title>
    </head>
    <body>
        <form action="/find_user" method="POST">
            <div>
                Please help to categorize these datasets for inclusion in our Covid19 research resource portal
                To help, please select a dataset to categorize from the drop down menu. This will populate the form with the information available on the dataset to make a judgement.  Then follow the prompts to pick the top 5 most appropriate categories for the dataset.
            </div>
            <div>
                To start, enter your email address (required):
            </div>
            <div>
                <input type="text" id="email" name="email">
            </div>
            <div>
                If you would like to be acknowledged or credited, enter your name as you would like it to appear in any credits (optional)
            </div>
            <div>
                <input type="text" id="name" name="name">
            </div>
            <button>
                Proceed
            </button>
        </form>
    </body>
</html>